In [ ]:
import pandas as pd
import numpy as np
import statistics
import matplotlib.pyplot as plt
from sklearn.cluster import AgglomerativeClustering, KMeans, DBSCAN, OPTICS, Birch
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from numba import njit, prange
import itertools
import math
import haversine as hs
import requests
import json
import time

In [29]:
df = pd.read_excel('CargoSample.xlsx')
df = df.dropna()
dates = df['CargoDate'].unique()

Exception ignored in: <generator object iterparse.<locals>.iterator at 0x000001AA5D629D20>
Traceback (most recent call last):
  File "c:\Python310\lib\xml\etree\ElementTree.py", line 1270, in iterator
    if close_source:
KeyboardInterrupt:

In [ ]:
df.head()

,Cargo_ID,DepartmentInfo_ID,CargoDate,SaleInvoice_ID,MainAccount_ID,LatitudePoint,LongitudePoint
0,140218461,18,2023-07-03,1402189460,330623,38.475766,47.063073
1,140218504,18,2023-07-11,14021810299,330623,38.475766,47.063073
2,140218504,18,2023-07-11,14021810493,330623,38.475766,47.063073
3,140218465,18,2023-07-04,1402189463,330627,38.061419,46.322348
4,140218492,18,2023-07-10,14021810212,330627,38.061419,46.322348

In [ ]:
df.describe()

,Cargo_ID,DepartmentInfo_ID,SaleInvoice_ID,MainAccount_ID,LatitudePoint,LongitudePoint
count,1.985100e+04,19851.000000,1.985100e+04,1.985100e+04,19851.000000,19851.000000
mean,4.650597e+08,29.075261,7.439222e+09,7.938756e+07,34.532162,51.710861
std,5.518665e+08,15.734324,6.305245e+09,3.038564e+08,3.050551,4.190524
min,1.402411e+07,8.000000,1.402412e+07,3.283910e+05,0.000000,0.000000
25%,1.402143e+08,14.000000,1.402326e+09,3.386380e+05,32.647165,49.580341
50%,1.402332e+08,32.000000,1.402401e+09,3.476130e+05,35.701350,51.395628
75%,1.402081e+09,49.000000,1.402181e+10,3.718650e+05,36.514100,52.712001
max,1.402512e+09,51.000000,1.402513e+10,1.401002e+09,39.652700,62.708922

In [ ]:
def compare_machine_to_human_clustering(df):
    number_of_dates = len(dates)
    sum_of_scores = 0
    average = 0
    for date in dates:
        target_date_df = df.loc[df['CargoDate'] == date]
        number_of_visitors = target_date_df.iloc[:, 0].unique().shape[0]

        target_date_df = target_date_df.dropna()
        target_date_df = target_date_df[(target_date_df['LatitudePoint'] > 0) & (target_date_df['LongitudePoint'] > 0)]

        model = AgglomerativeClustering(n_clusters=number_of_visitors, affinity='euclidean', linkage='ward')
        model.fit(target_date_df[['LatitudePoint', 'LongitudePoint']])
        target_date_df['cluster'] = model.labels_

        best_point = 0
        current_point = 0
        for cluster in target_date_df['cluster'].unique():
            target_cluster_df = target_date_df.loc[target_date_df['cluster'] == cluster]
            for cargo_id in target_cluster_df['Cargo_ID'].unique():
                best_point += 1
                target_cargo_df = target_cluster_df.loc[target_cluster_df['Cargo_ID'] == cargo_id]
                current_point += target_cargo_df.shape[0] / target_cluster_df.shape[0]
        sum_of_scores += (current_point/best_point) * 100
    
    average = sum_of_scores / number_of_dates
    return average

compare_machine_to_human_clustering(df)

53.1612729435728

In [39]:
# Example of batch processing
def calculate_distance_batch(points):
    if(len(points) < 2):
        return 0

    requests_string = "http://router.project-osrm.org/route/v1/car/"

    for index, (lat, lon) in enumerate(points):
        requests_string += f"{lon},{lat}"
        if index < len(points) - 1:
            requests_string += ";"

    requests_string += "?overview=false"

    r = requests.get(requests_string)
    routes = json.loads(r.content)
    return routes.get("routes")[0]["distance"]

def build_df_with_cluster(df):
    target_date_df = df.loc[df['CargoDate'] == date]

    number_of_visitors = target_date_df.iloc[:, 0].unique().shape[0]

    target_date_df = target_date_df.dropna()
    target_date_df = target_date_df[target_date_df['LatitudePoint'] > 0]

    model = AgglomerativeClustering(n_clusters=number_of_visitors, affinity='euclidean', linkage='ward')
    model.fit(target_date_df[['LatitudePoint', 'LongitudePoint']])

    target_date_df['cluster'] = model.labels_

    return target_date_df

In [43]:
import pandas as pd
import os.path

# Check if the result Excel file already exists
result_file_path = 'result.xlsx'
if os.path.exists(result_file_path):
    # Load existing results to avoid redundant calculations
    result_df = pd.read_excel(result_file_path)
    result_df.columns = ['CargoDate', 'Machine', 'Human']
else:
    # Create a new DataFrame if the file doesn't exist
    result_df = pd.DataFrame(columns=['CargoDate', 'Machine', 'Human'], names=['CargoDate', 'Machine', 'Human'])
print(result_df['CargoDate'].values)
for date in dates:
    print(str(date))
    # Check if the date already exists in the result DataFrame
    if str(date) in result_df['CargoDate'].values:
        print(f"Skipping calculation for date {date}. Result already exists.")
        continue

    try:
        target_date_df = build_df_with_cluster(df)

        machine_computed_distance = 0
        print("number of machine clusters", len(target_date_df['cluster'].unique()))
        for cluster in target_date_df['cluster'].unique():
            t_df2 = target_date_df.loc[target_date_df['cluster'] == cluster]
            distance = calculate_distance_batch(t_df2[['LatitudePoint', 'LongitudePoint']].values.tolist())

            machine_computed_distance += distance
                    
        human_computed_distance = 0
        print("number of human clusters", len(target_date_df['Cargo_ID'].unique()))
        for user_cluster in target_date_df['Cargo_ID'].unique():
            t_df2 = target_date_df.loc[target_date_df['Cargo_ID'] == user_cluster]
            distance = calculate_distance_batch(t_df2[['LatitudePoint', 'LongitudePoint']].values.tolist())
            human_computed_distance += distance

        # Append the result to the DataFrame
        result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

        # Save the result to the Excel file
        result_df.to_excel(result_file_path, index=False, header=False)
        print(f"Result for date {date} saved to {result_file_path}")
        
        time.sleep(50)

    except Exception as error:
        print(f"Error occurred while calculating distance for date {date}: {error}")
        continue

['2023-07-14T00:00:00.000000000' '2023-07-03T00:00:00.000000000']
2023-07-03T00:00:00.000000000
Skipping calculation for date 2023-07-03T00:00:00.000000000. Result already exists.
2023-07-11T00:00:00.000000000
number of machine clusters 87
number of human clusters 87

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-11T00:00:00.000000000 saved to result.xlsx
2023-07-04T00:00:00.000000000
number of machine clusters 109
number of human clusters 109
Error occurred while calculating distance for date 2023-07-04T00:00:00.000000000: 'NoneType' object is not subscriptable
2023-07-10T00:00:00.000000000
number of machine clusters 70
number of human clusters 70

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-10T00:00:00.000000000 saved to result.xlsx
2023-07-08T00:00:00.000000000
number of machine clusters 98
number of human clusters 98

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-08T00:00:00.000000000 saved to result.xlsx
2023-07-02T00:00:00.000000000
number of machine clusters 100
number of human clusters 100

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-02T00:00:00.000000000 saved to result.xlsx
2023-07-06T00:00:00.000000000
number of machine clusters 91
number of human clusters 91

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-06T00:00:00.000000000 saved to result.xlsx
2023-07-12T00:00:00.000000000
number of machine clusters 90
number of human clusters 90

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-12T00:00:00.000000000 saved to result.xlsx
2023-07-13T00:00:00.000000000
number of machine clusters 89
number of human clusters 89

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-13T00:00:00.000000000 saved to result.xlsx
2023-07-05T00:00:00.000000000
number of machine clusters 71
number of human clusters 71

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-05T00:00:00.000000000 saved to result.xlsx
2023-07-15T00:00:00.000000000
number of machine clusters 56
number of human clusters 56

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-15T00:00:00.000000000 saved to result.xlsx
2023-07-09T00:00:00.000000000
number of machine clusters 94
number of human clusters 94

C:\Users\alast\AppData\Local\Temp\ipykernel_10588\4021429294.py:40: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result_df = result_df.append({'CargoDate': str(date), 'Machine': machine_computed_distance, 'Human': human_computed_distance}, ignore_index=True)

Result for date 2023-07-09T00:00:00.000000000 saved to result.xlsx
2023-07-14T00:00:00.000000000
Skipping calculation for date 2023-07-14T00:00:00.000000000. Result already exists.